{% extends 'base.html' %}

{% block content %}
    <div class="container bg-white py-3 px-4">
        <h1>Cadastrar cliente</h1>
        <form action="." method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group mt-4">
                    <label for="field.id_for_label">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">
                Cadastrar
            </button>
        </form>
    </div>
{% endblock content %}